{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <section class="container py-5">
        {% if items | length > 0 %}
            <div class="d-flex justify-content-between mb-3">
                <h2>Panier</h2>
                <div>
                    <a class="lien" href="{{ path('cancel_order') }}">Supprimer le panier</a>
                </div>
            </div>

            <div class="row">
                <div class="col-7">
                    {% for item in items %}
                        <div class="row text-center border rounded shadow p-4 mb-3">
                            <div class="col-12 col-md-5 text-center">
                                <img class="rounded" src="{{ asset('upload/' ~ item.product.picture) }}" alt="{{ item.product.name }}" style="max-height:150px; width:auto">
                            </div>
                            <div class="col-12 col-md-4">
                                <p class="col-6">{{ item.product.name }}</p>
                            </div>
                            <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-end">
                                    <p class="me-3">Quantité:</p>
                                    <a href="{{ path('removeOne_cart', {'id': item.product.id}) }}"><i class="bi bi-dash text-dark fs-5"></i></a>
                                    <p class="fs-5">{{ item.quantity }} </p>
                                    <a href="{{ path('add_inCart', {'id': item.product.id}) }}"><i class="bi bi-plus text-dark fs-5"></i></a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="m-0">Total: {{ item.product.price * item.quantity }} €</p>
                                    <a href="{{ path('remove_cart', {'id': item.product.id}) }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-5 d-flex flex-column">
                    <div class="border rounded p-3">
                        <p class="h4">Récapitulatif du panier</p>
                        <hr>
                        {% for item in items %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.quantity }}</p>
                                <p>{{ item.product.name }}</p>
                                <p>{{ item.product.price * item.quantity }} €</p>
                            </div>
                        {% endfor %}
                        <hr>
                        
                        <p>{{ nbItem }} article{% if nbItem > 1%}s{% endif %}</p>
                        
                        <hr>
                        <div class="h4 text-end">
                            <p>Montant total: {{ total }} €</p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') or app.user %}
                    <div class="text-end mt-5">
                        <a href="{{ path('delivery_payment') }}" class="menu p-3">Livraison et paiement<i class="bi bi-arrow-right-circle-fill fs-5 ps-3"></i></a>
                    </div>
                    {% else %}
                        <div class="text-end mt-5">
                            <a href="{{ path('app_login') }}" class="menu p-3">Récapitulatif panier<i class="bi bi-arrow-right-circle-fill fs-5 ps-3"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h2 class="mb-3">Panier</h2>
            <div class="border rounded shadow p-4">
                <p class="fs-4">Bonjour !</p>
                <p>Votre panier est vide !</p>
            </div>
        {% endif %}
    </section>

{% endblock %}