{{ form_start(form) }}
    <div class="container col-6">
        {{ form_row(form.name, {"attr": {'class':'form-control mb-4'}}) }}
        {{ form_row(form.logo, {"attr": {'class':'form-control'}}) }}
    </div>
    <div class="mt-4 text-center">
        <button class="lien_2 text-center">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
