{% extends 'base.html.twig' %}

{% block title %}Detail marque{% endblock %}

{% block body %}
<section class="container mt-3">
    <h1 class="mb-2">Détail de la marque</h1>
    <table class="table">
        <tbody class="structure">
            <tr>
                <th>Name</th>
                <td>{{ brand.name }}</td>
            </tr>
            {% if brand.logo %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/' ~ brand.logo) }}" alt="{{ brand.name }}" style="height:150px; width:auto"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mb-4 border-none">
        <a class="lien" href="{{ path('brand_index') }}">Revenir à la liste</a>
        <a class="lien mx-2" href="{{ path('brand_edit', {'id': brand.id}) }}">Modifier</a>
        {{ include('brand/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}
