{% extends 'base.html.twig' %}

{% block title %}Detail marque{% endblock %}

{% block body %}
<section class="container mt-3">
    <h1 class="mb-2">Détail de la marque</h1>
    <table class="table">
        <tbody class="structure">
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ brand.name }}</td>
            </tr>
            
            {% if brand.logo %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/' ~ brand.logo) }}" alt="{{ brand.name }}" style="height:150px; width:auto"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div>
            <a class="lien" href="{{ path('brand_index') }}">Revenir à la liste</a>
            <a class="lien mx-2" href="{{ path('brand_edit', {'id': brand.id}) }}">Modifier</a>
        
            <form method="post" action="{{ path('brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
                <button class="lien_2">Supprimer</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
