{% extends 'base.html.twig' %}

{% block title %}Hello AllUserOrderController!{% endblock %}

{% block body %}
    <section class="container mt-3">
        <p class="h2">Liste des commandes</p>
        <div class="mt-3 mb-5">
            <div class="row col-6">
                {% for order in allOrder %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item border">
                            <h2 class="accordion-header" id="flush-heading{{ order.id }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ order.id }}" aria-expanded="false" aria-controls="flush-collapse{{ order.id }}">
                                    <span>Commande numéro {{ order.id }} du {{ order.date ? order.date|date('d/m/Y') }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapse{{ order.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ order.id }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body d-flex justify-content-center">
                                    {% set total = 0 %}
                                    {% for order in order.orderProducts %}
                                        <div class="card p-1 mx-1 text-center">
                                            <p>{{ order.product.name }}</p>
                                            <p>
                                                <img src="{{ asset('upload/' ~ order.product.picture) }}" 
                                                    alt="{{ order.product.name }}" 
                                                    style="height:100px; width:auto">
                                            </p>
                                            <p>Quantité: {{ order.quantity }}</p>
                                            <p>Prix: {{ order.product.price }} €</p>
                                        </div>
                                        {% set total = total + (order.product.price * order.quantity )  %}
                                    {% endfor %}
                                </div><p class="text-end fw-bold pe-4">Montant total de la commande: <span class="fs-5">{{ total }}</span> €</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
