<footer class="pt-5">
    <div class="container">
        <section>
            <div>
                <img class="rounded w-75" src="{{ asset('img/logo/logo-chatChien_3.jpg') }}" alt="Logo de l'entreprise">
            </div>
        </section>
        <section class="row pt-5 border-bottom border-white pb-3">
            <div class="col-12 col-md-6 mb-sm-4">
                <p class="fs-4">Navigation</p>
                <div class="">
                    <p><a href="{{ path('home') }}">Accueil</a></p>
                    <p><a href="{{ path('home') }}#service3.0">Programme spatial</a></p>
                    <p><a href="{{ path('home') }}#apropos">A propos</a></p>
                    <p><a href="{{ path('home') }}#contact">Contact</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="fs-4">Conditions générales</p>
                <div class="">
                    <p><a href="{{ path('app_cgv') }}">CGV</a></p>
                    <p><a href="{{ path('app_mentionLegal') }}">Mention légal</a></p>
                    <p><a href="{{ path('app_politique') }}">Politique de confidentialité</a></p>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-center py-4">
            <p class="pt-3">Suivez-nous: </p>
            <a href="https://www.facebook.com"><img class="facebook" src="{{ asset('img/logo/facebook.png') }}" alt="logo facebook"></a>
            <a href="https://www.instagram.com"><img class="instagram" src="{{ asset('img/logo/instagram.jpg') }}" alt="logo instagram"></a>
            <a href="https://www.twitter.com"><img class="twitter" src="{{ asset('img/logo/twitter.png') }}" alt="logo twitter"></a>
        </section>
        <p class="text-center m-0 pb-2">&copy;copyrights <strong>La Nîme'alerie</strong>.</p>
    </div>
</footer>

{# <footer class="">
    <section class="row bg-light text-dark text-center py-3">
            <div class="col-12 col-md-4 border-end">
                <p class="m-0">Livraison offerte</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/livraison.png') }}" alt="Logo livraison offerte">
                <img class="logo ps-1" src="{{ asset('img/reassurance_client/laPoste.jpg') }}" alt="Logo la poste">
            </div>
            <div class="col-12 col-md-4 border-end">
                <p class="m-0">Paiement securisé</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/cb.png') }}" alt="Logo Carte bancaire">
                <img class="logo ps-1" src="{{ asset('img/reassurance_client/paypal.png') }}" alt="Logo Paypal">
            </div>
            <div class="col-12 col-md-4 pe-0">
                <p class="m-0">Remboursement sous 30 jours</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/remboursement.png') }}" alt="Logo remboursement sous 30 jours">
            </div>
    </section>
    <div class="container pt-3">
        <div>
            <img class="rounded w-75" src="{{ asset('img/logo/logo-chatChien_3.jpg') }}" alt="Logo de l'entreprise">
        </div>
        <section class="row pt-5 border-bottom border-white pb-3">
            <div class="col-12 col-md-6">
                <p class="fs-4">Navigation</p>
                <p><a href="{{ path('home') }}">Accueil</a></p>
                <p><a href="{{ path('home') }}#service3.0">Programme spatial</a></p>
                <p><a href="{{ path('home') }}#apropos">A propos</a></p>
                <p><a href="{{ path('home') }}#contact">Contact</a></p>
            </div>
            <div class="col-12 col-md-6">
                <p class="fs-4">Conditions générales</p>
                <p><a href="{{ path('app_cgv') }}">CGV</a></p>
                <p><a href="{{ path('app_mentionLegal') }}">Mention légal</a></p>
                <p><a href="{{ path('app_politique') }}">Politique de confidentialité</a></p>
            </div>
        </section>
        <section class="py-4">
            <div class="d-flex justify-content-center d-md-none pb-5">
                <p class="pt-3">Suivez-nous: </p>
                <a href="https://www.facebook.com"><img class="facebook" src="{{ asset('img/logo/logo_facebook.png') }}" alt="logo facebook"></a>
                <a href="https://www.instagram.com"><img class="instagram" src="{{ asset('img/logo/logo_instagram_footer.jpg') }}" alt="logo instagram"></a>
                <a href="https://www.twitter.com"><img class="twitter" src="{{ asset('img/logo/logo_twitter.png') }}" alt="logo twitter"></a>
            </div>
            <p class="text-center m-0 pb-2">&copy;copyrights <strong>La Nîme'alerie</strong>.</p>
        </section>
    </div>
</footer> #}