<header>
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-12 col-md-4 mt-1 mb-3">
                <a href="{{ path('home') }}"><img class="img_logo" src="{{ asset('img/logo/logoLanimalerie.png') }}"></a>
            </div>
            <!--______Mon compte, mon panier, gestion______-->
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-12 col-md-8 mt-1">
                <div class="d-flex flex-column align-items-center align-items-md-end me-3">
                    <div>
                        <p class="m-0 pb-2"><span class="fw-bold">Bonjour {{ app.user.firstName }}</span>. Vous êtes connecté en tant qu'Admin.</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="right-menu">
                            <button class="menu-button fs-5 ms-2 m-0"><i class="pe-2 bi bi-gear"></i>Gestion</button>
                            <div class="dropdown-menu">
                                <a class="" href="{{ path('user_index') }}">Utilisateurs</a>
                                <a class="" href="{{ path('adress_admin_index') }}">Adresses</a>
                                <a class="" href="{{ path('brand_index') }}">Marques</a>
                                <a class="" href="{{ path('all_productAdmin') }}">Produits</a>
                                <a class="" href="{{ path('order_index') }}">Commandes</a>
                                <a class="" href="{{ path('all_category') }}">Catégories</a>
                                <a class="" href="{{ path('sub_category_index') }}">Sous-catégories</a>
                            </div>
                        </div>
                        <div>
                            <a href="{{ path('cart') }}"><button class="menu fs-5 ms-2 m-0"><i class="pe-2 bi bi-basket2"></i>Panier</button></a>
                        </div>
                        <div class="right-menu">
                            <button class="menu-button fs-5 ms-2 m-0"><i class="pe-2 bi bi-gear"></i>Mon compte</button>
                            <div class="dropdown-menu">
                                <a class="" href="{{ path('setting_user_index') }}"><i class="bi bi-gear me-1"></i>Paramètres</a>
                                <a class="" href="{{ path('all_user_order', {'id': app.user.id}) }}"><i class="pe-1 bi bi-list-ul"></i>Commandes</a>
                                <a class="" href="{{ path('app_logout') }}"><i class="bi bi-door-open me-1"></i>Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% elseif app.user %}
            <div class="col-12 col-md-8 mt-2 pe-md-4">
                <div class="d-flex justify-content-between justify-content-md-end">
                    <div class="d-none d-md-block">
                        <p class="m-0 pb-2"><span class="fw-bold">Bonjour {{ app.user.firstName }}</span></p>
                    </div>
                    <div>
                        <a href="{{ path('cart') }}"><button class="menu fs-5 ms-2 m-0"><i class="pe-2 bi bi-basket2"></i>Panier</button></a>
                    </div>
                    <div class="d-block d-md-none">
                        <p class="m-0 pb-2"><span class="fw-bold">Bonjour {{ app.user.firstName }}</span></p>
                    </div>
                    <div class="right-menu">
                        <button class="menu-button fs-5 ms-2 m-0"><i class="pe-2 bi bi-gear"></i>Mon compte</button>
                        <div class="dropdown-menu">
                            <a class="" href="{{ path('setting_user_index') }}"><i class="bi bi-gear me-1"></i>Paramètres</a>
                            <a class="" href="{{ path('all_user_order', {'id': app.user.id}) }}"><i class="pe-1 bi bi-list-ul"></i>Commandes</a>
                            <a class="" href="{{ path('app_logout') }}"><i class="bi bi-door-open me-1"></i>Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="col-12 col-md-8 d-flex justify-content-between justify-content-md-end">
                <a {% if app.user %}href=""{% else %}href="{{ path('cart') }}"{% endif %}>
                    <button class="menu fs-5 ms-md-3 m-0"><i class="pe-2 bi bi-basket2"></i>Panier</button>
                </a>
                <a href="{{ path('app_login') }}"><button class="menu fs-5 m-0 ms-2"><i class="pe-2 bi bi-person-fill"></i>Me connecter</button></a>
                
            </div>
            {% endif %}
            <!--_____________Logo________________-->
            
        </div>
        
        
    </div>
    
    
</header>