<nav class="myNavbar navbar navbar-expand-lg navbar-light m-0 border-bottom border-top">

    <div class="container-fluid">

        <a class="nav_haut me-5" id="#retour_accueil" href="{{ path('home') }}">Accueil</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav_haut me-5 active" aria-current="page" href="{{ path('home') }}#service3.0">Programme spatial</a>
                </li>
                
                {{ render(path('menu')) }}
                
                <li class="nav-item">
                    <a class="nav_haut me-5 " href="{{ path('home') }}#apropos">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav_haut me-5 " href="{{ path('home') }}#contact">Contact</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav_haut me-5 " href="http://localhost:4200/">Dashboard</a>
                </li>
                {% endif %}
            </ul> 

            <!--
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Que recherchez vous ?" aria-label="Search">
                <button class="btn-recherche btn"  type="submit">Recherche</button>
            </form>
            -->
            
        </div>
    </div>
</nav>