<section class="bg-light">
    <div class="container">
        <div class="row text-dark text-center py-3">
            <div class="col-12 col-md-4 border-end">
                <p class="m-0">Livraison offerte</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/livraison.png') }}" alt="Logo livraison offerte">
                <img class="logo ps-1" src="{{ asset('img/reassurance_client/laPoste.jpg') }}" alt="Logo la poste">
            </div>
            <div class="col-12 col-md-4 border-end">
                <p class="m-0">Paiement securisé</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/cb.png') }}" alt="Logo Carte bancaire">
                <img class="logo ps-1" src="{{ asset('img/reassurance_client/paypal.png') }}" alt="Logo Paypal">
            </div>
            <div class="col-12 col-md-4 pe-0">
                <p class="">Remboursement sous 30 jours</p>
                <img class="icon ps-1" src="{{ asset('img/reassurance_client/remboursement.png') }}" alt="Logo remboursement sous 30 jours">
            </div>
        </div>
    </div>
</section>