{% extends 'base.html.twig' %}

{% block title %}Modifier la marque{% endblock %}

{% block body %}

<div class="container my-3">
    {{ form_start(form) }}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="py-3">Modifier une categorie</h1>
                <div>
                    {{ form_row(form.name, {"label": "Nom", "attr": {'class':'form-control'}}) }}
                </div>
                <div class="pt-3">
                    {{ form_row(form.description, {"label": "Description", "attr": {'class':'form-control'}}) }}
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a class="lien me-2" href="{{ path('all_category') }}">Revenir à la liste</a>
                    {{ form_row(form.valider, {"attr": {'class':'lien_2'}}) }}
                </div>
            </div>
        </div>
    {{ form_end(form, {'render_rest': true}) }}
</div>

{% endblock %}
