{% extends 'base.html.twig' %}

{% block title %}Adresses clients{% endblock %}

{% block body %}

    <section class="container mt-3">
        <h1>Liste des adresses</h1>
        <a class="lien" href="{{ path('adress_admin_new') }}">Ajouter une adresse</a>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for adress in adresses %}
                <tr class="structure">
                    <td>
                        {{ adress.user.lastName }} {{ adress.user.firstName }}
                    </td> 
                    <td>{{ adress.country }}</td>
                    <td>{{ adress.city }}</td>
                    <td>{{ adress.postalCode }}</td>
                    <td>{{ adress.adress }}</td>
                    <td>
                        <a class="lien" href="{{ path('adress_admin_show', {'id': adress.id}) }}">Détail</a>
                        <a class="lien" href="{{ path('adress_admin_edit', {'id': adress.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune adresses trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
