{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

<section class="">
    <div class="container py-5">
        <h1 class="">Modifier votre mot de passe</h1>
        {{ form_start(form) }}
            <div class="row col-6 d-flex flex-column ">
                <div class="pb-3">
                    {{ form_row(form.password, {"label": "Mot de passe", "attr": {'class':'form-control'}}) }}
                </div>
                <div class="pb-3">
                    {{ form_row(form.confirmPassword, {"label": "Confimation du mot de passe", "attr": {'class':'form-control'}}) }}
                </div>

                <div class="mt-3 text-center">
                    <a class="lien" href="{{ path('setting') }}">Retour</a>
                    <button class="lien_2">{{ button_label|default('Valider') }}</button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>

{% endblock %}