{% extends 'base.html.twig' %}
{% block body %}

<section class="container my-5">
    <h4>Mes informations</h4>
    <div class="row rounded shadow p-3 m-4">
        <table class="col-6">
            <tbody class="fs-5">
                <tr class="bg-light">
                    <th>Genre:</th>
                    <td>{{ app.user.civility }}</td>
                </tr>
                <tr>
                    <th>Prénom:</th>
                    <td>{{ app.user.firstName }}</td>
                </tr>
                <tr class="bg-light">
                    <th>Nom:</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ app.user.country }}</td>
                </tr>
                <tr>
                    <th>PostalCode</th>
                    <td>{{ app.user.postalCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ app.user.city }}</td>
                </tr>
                <tr class="bg-light">
                    <th>Adresse:</th>
                    <td>{{ app.user.address }}</td>
                </tr>
                <tr>
                    <th>Date de naissance:</th>
                    <td>{{ app.user.birthDate ? app.user.birthDate|date('d/m/Y') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex flex-column col-6 text-end">
            <p><a class="lien" href="{{ path('edit_user', {'id': app.user.id}) }}">Modifier mes informations</a></p>
            <p><a class="lien" href="">Changer mon mot de passe</a></p>
        </div>
    </div>
</section>

<!--________Back to top_______-->

    <div id="scrollUp">
        <a href="#top"><i class="bi bi-arrow-up-short"></i>Haut de page<i class="bi bi-arrow-up-short"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}