{% extends 'base.html.twig' %}

{% block title %}Créer d'un produit{% endblock %}

{% block body %}

<section>
    <div class="container my-3">
        {{ form_start(form) }}
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col-6">
                    <h1 class="pb-2">Ajouter un produit</h1>
                    <div class="pb-3">
                        {{ form_row(form.name, {"label": "Nom", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="pb-3">
                        {{ form_row(form.description, {"label": "Description", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="pb-3">
                        {{ form_row(form.price, {"label": "Prix (ATTENTION, veuillez utiliser un point ci vous saisissez un nombre à virgule)", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="pb-3">
                        {{ form_row(form.picture, {"label": "Image", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="pb-3">
                        {{ form_row(form.brand, {"label": "Marque", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="pb-3">
                        {{ form_row(form.subCategory, {"label": "Sous-catégorie", "attr": {'class':'form-control'}}) }}
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <a class="lien me-2" href="{{ path('all_productAdmin') }}">Revenir à la liste</a>
                        {{ form_row(form.valider, {"label": "Valider", "attr": {'class':'lien_2'}}) }}
                    </div>
                </div>
            </div>
        {{ form_end(form, {'render_rest': true}) }}
    </div>
</section>

{% endblock %}