{% extends 'base.html.twig' %}

{% block body %}

    <section class="container my-5">
        <div class="row d-flex justify-content-center">
            {% for product in products %}
                <div class="card card-product text-center mx-3 g-4 p-0" style="width: 18rem;">
                    <a class="text-dark" href="{{ path('display_product', {'id':product.id}) }}">
                        <img class="img-product rounded m-1" src="{{ asset('upload/' ~ product.picture) }}" alt="{{ product.name }}" style="max-height:200px; width:auto">
                        <div class=" p-3">
                            <p class="h4 fs-4 fw-bold">{{ product.name }}</p>
                        </div>
                        <div class="border-top border-bottom">
                            <p class="mt-3"><span>A partir de </span><span class="fs-4">{{ product.price }} €</span></p>
                        </div>
                        <a class="btn-product" href="{{ path('add_cart', {'id': product.id}) }}"><i class="pe-2 bi bi-basket2"></i>Ajouter au panier</a>
                    </a>
                </div>
            {% endfor %}
            </div>
    </section>

{% endblock body %}


    {# <!-- Button trigger modal -->
    <a href="{{ path('add_cart', {'id': product.id}) }}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="pe-2 bi bi-basket2"></i>Ajouter au panier
    </a>
    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Le produit a bien été ajouté au panier !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous
                </div>
                <div class="modal-footer justify-content-between">
                    <a href="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer vos achats</a>
                    <span>ou</span>
                    <a href="{{ path('cart') }}" type="button" class="btn btn-primary">Accéder au panier</a>
                </div>
            </div>
        </div>
    </div> #}