{% extends 'base.html.twig' %}

{% block body %}

    <section class="bg_section py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
            {% for product in products %}
            <div class="card card-product d-flex flex-column justify-content-between text-center pb-2 m-2" style="width: 18rem;">
                <a class="text-dark" href="{{ path('display_product', {'id':product.id}) }}">
                    <div class="pb-2">
                        <img class="img-product rounded m-1 w-100 h-auto" src="{{ asset('upload/' ~ product.picture) }}" alt="{{ product.name }}">
                        <div class="card-body">
                            <p class="h4 fs-4 fw-bold">{{ product.name }}</p>
                        </div>
                        
                    </div>
                    <div class="border-top border-bottom">
                        <p class="mt-2"><span>A partir de </span><span class="fs-4">{{ product.price }} €</span></p>
                        <a class="btn-product d-flex justify-content-center" href="{{ path('add_cart', {'id': product.id}) }}"><i class="pe-2 bi bi-basket2"></i>Ajouter au panier</a>
                    </div>
                </a>
            </div>
            {% endfor %}
            <div class="pagination mt-5 d-flex justify-content-center">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
        </div>
        
    </section>

{% endblock body %}


    {# <!-- Button trigger modal -->
    <a href="{{ path('add_cart', {'id': product.id}) }}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="pe-2 bi bi-basket2"></i>Ajouter au panier
    </a>
    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Le produit a bien été ajouté au panier !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous
                </div>
                <div class="modal-footer justify-content-between">
                    <a href="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer vos achats</a>
                    <span>ou</span>
                    <a href="{{ path('cart') }}" type="button" class="btn btn-primary">Accéder au panier</a>
                </div>
            </div>
        </div>
    </div> #}