{% extends 'base.html.twig' %}

{% block body %}

    <section class="container my-5">
            <div class="card" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <img class="img-fluid rounded-start" alt="{{ product.name }}"
                            src="{{ asset('upload/' ~ product.picture) }}" alt="{{ product.name }}"
                            style="min-width:100%;">
                    </div>
                    <div class="col-lg-6 d-flex flex-column">
                        <div class="card-header bg-white">
                            <p class="h2">{{ product.name }}</p>
                        </div>
                        <div class="card-body col-10 mt-5">
                            <p class="descriptionProduct">{{ product.description }}</p>
                        </div>
                        <div class="card-footer bg-white">
                            <p class="text-end"><span>Prix: </span><span class="priceProduct">{{ product.price }} €</span></p>
                        </div>
                         <a class="btn-product text-center" href="{{ path('add_cart', {'id': product.id}) }}"><i class="pe-2 bi bi-basket2"></i>Ajouter au panier</a>
                    </div>
                </div>
            </div>
    </section>
    
{% endblock %}
