{% extends 'base.html.twig' %}

{% block title %}Détail produit{% endblock %}

{% block body %}
<section class="container mt-3">
    <h1 class="mb-2">Produit</h1>
    <table class="table">
        <tbody class="structure">
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>
                    {% if product.brand.name %}
                        {{ product.brand.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Sous-catégory</th>
                <td>
                {% if product.subCategory %}
                    {{ product.subCategory.name }}
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }} €</td>
            </tr>
            {% if product.picture %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/' ~ product.picture) }}" alt="{{ product.name }}" style="height:150px; width:auto"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mb-4 border-none">
        <a class="lien" href="{{ path('all_productAdmin') }}">Revenir à la liste</a>
        <a class="lien mx-3" href="{{ path('update_product', {'id':product.id}) }}) }}">Modifier</a>
        <a class="lien" href="{{ path('delete_product', {'id':product.id}) }}">Supprimer</a>
    </div>
</section>
{% endblock %}
