{% extends 'base.html.twig' %}

{% block body %}

    <section class="container my-5">
        <div class="row bgSimilarProduct rounded p-5 d-flex justify-content-center" style="min-heigt:100px">
            <div class="col-12 d-flex justify-content-center col-md-6">
                <img class="img-fluid rounded-start" alt="{{ product.name }}"
                    src="{{ asset('upload/' ~ product.picture) }}" alt="{{ product.name }}"
                    style="min-width:60%; max-width:70%;">
            </div>
            <div class="col-9 mt-4 col-lg-5 mt-lg-0  d-flex flex-column justify-content-between">
                <div>
                    <p class="h2">{{ product.name }}</p>
                    <p class="fs-3">{{ product.price }} €</p>
                    <p class="descriptionProduct">{{ product.description }}</p>
                </div>
                <a class="btn-product rounded text-center" href="{{ path('add_cart', {'id': product.id}) }}"><i class="pe-2 bi bi-basket2"></i>Ajouter au panier</a>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container border-top p-2 my-2">
            <p class="h3 text-center mb-2">Vous aimerez aussi</p>
            <div class="row justify-content-center">
                {% for similarProduct in similarProducts %}
                    {% if similarProduct.id == product.id %}
                    {% else %}
                        <div class="col-6 col-lg-3 bgSimilarProduct rounded shadow p-3 mx-4 mt-2">
                            <a href="{{ path('display_product', {'id':similarProduct.id}) }}">
                                <img class="img-fluid rounded" alt="{{ similarProduct.name }}"
                                    src="{{ asset('upload/' ~ similarProduct.picture) }}" alt="{{ similarProduct.name }}"
                                    style="min-width:60%; max-width:60%;">
                                <p class="text-dark mt-3">{{ similarProduct.name }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}
