{% extends 'base.html.twig' %}

{% block title %}Modification information{% endblock %}

{% block body %}

    <section>
        <div class="container my-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col-6 mt-3">
                    <h2 class="">Modifier mon mot de passe</h2>
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.password, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.confirmPassword, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="text-center">
                            <a class="lien p-2 me-2" href="{{ path('setting_user_index') }}">Retour</a>
                            <button class="lien_2">{{ button_label|default('Valider') }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
