{% extends 'base.html.twig' %}

{% block title %}Modification informations{% endblock %}

{% block body %}
    <section class="bg_section">
        <div class="container py-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col-6 labelColor">
                    <h2 class="my-4">Modifier mes informations</h2>
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.lastName, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.firstName, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-4">   
                            {{ form_row(form.birthDate, {"attr": {'class':'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <span>{{ form_label(form.civility) }} </span><span> {{ form_widget(form.civility) }}</span>
                        </div>
                        <div class="text-center">
                            <a class="btn_form p-2 me-2" href="{{ path('setting_user_index') }}">Retour</a>
                            <button class="btn_form">{{ button_label|default('Valider') }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}