{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block body %}

    <section class="container my-4">
        <div class="d-md-flex mb-3">
            <h2 class="">Vos adresses</h2>
            <div class="ms-4 mt-1">
                {% if adresses | length >= 3%}
                    <a class="lien btn disabled" disabled href="{{ path('adress_new') }}">Créer une nouvelle adresse</a>
                    Vous avez atteint le maximum d'adresse autorisé.
                    Modifier ou supprimer une adresse pour pouvoir en saisir une nouvelle.
                {% else %}
                    <a class="lien" href="{{ path('adress_new') }}">Créer une nouvelle adresse</a>
                {% endif %}
            </div>
        </div>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Adresse</th>
            </tr>
            </thead>
            <tbody>
                {% for adress in adresses %}
                <tr class="">
                    <td>{{ adress.id }}</td>
                    <td>{{ adress.country }}</td>
                    <td>{{ adress.city }}</td>
                    <td>{{ adress.postalCode }}</td>
                    <td>{{ adress.adress }}</td>
                    <td class="d-flex">
                        {# {% if items | length > 0 %}
                            <a class="btnAdress1 pe-2 me-2 border-end" href=" {{ path('delivery_payment', {'id': adress.id}) }} ">Choisir</a>
                        {% endif %} #}
                        <a class="btnAdress1 pe-2 me-2 border-end" href="{{ path('adress_edit', {'id': adress.id}) }}">Modifier</a>
                        {# Modal #}
                        <a class="lien" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Supprimer
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="">
                                        <p class="h5 modal-title text-center mt-5 mb-3" id="exampleModalLabel">Vous vous appretez à supprimer une adresse.</p>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p class="h2"></p>
                                        <p class="mb-5">Êtes-vous bien sûr de vouloir effectuer cette opération ?</p>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-between">
                                        <a type="button" class="lien" data-bs-dismiss="modal">Ne pas supprimer</a>
                                        {{ include('adress/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# Fin modal #}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucune adresse trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="lien" href="{{ path('setting_user_index') }}">Retour</a>
    </section>
{% endblock %}
