{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

    <section id="contact" class="bg_section">
        <div class="container py-5">
            <h2 class="text-center pb-3">Nous contacter</h2>
            <p class="text-center">Pour nous contacter vueillez remplir le formulaire ci-dessous</ci-dessous></p>
            {{ form_start(form) }}
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="col-lg-6 py-3">
                        {{ form_row(form.nom, {"label": "Nom", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="col-lg-6 pb-3">
                        {{ form_row(form.prenom, {"label": "Prénom", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="col-lg-6 pb-3">
                        {{ form_row(form.email, {"label": "Email", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="col-lg-6 pb-3">
                        {{ form_row(form.message, {"label": "Message", "attr": {'class':'form-control'}}) }}
                    </div>
                    <div class="col-lg-6 pb-3">
                        {{ form_row(form.civilite, {"label": "Civilité", "attr": {'class':'motif'}}) }}
                    </div>
                    <div class="text-center mt-2">
                        {{ form_row(form.valider, {"attr": {'class':'m-auto btn_envoyer'}}) }}
                    </div>
                </div>
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </section>
{% endblock %}