{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
<section>
    <div class="container my-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="mt-3">Modifier la commande</h1>
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_row(form.date, {"attr": {'class':'motif'}}) }}
                    </div>
                
                    <div class="mt-3 d-flex">
                        <a class="lien p-2 me-2" href="{{ path('order_index') }}">Revenir à la liste</a>
                        {{ form_row(form.valider, {"attr": {'class':'lien_2'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
