{% extends 'base.html.twig' %}

{% block title %}Livraison et Paiement{% endblock %}

{% block body %}

{% for message in app.flashes('formIsNotValid') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    <section class="container my-5">
        <div class="row">
            {#-------Adresse de livraison-------#}
            <div class="col-12 col-lg-6">
                <h2>Adresse de livraison</h2>
                <div class="border rounded p-3">
                    <div class="d-flex justify-content-between">
                        <p class="h4">Choisissez votre adresse de livraison:</p>
                        <a class="lien" href="{{ path('adress_index') }}">Changer d'adresse</a>
                    </div>
                    <hr>
                    <div class="pb-3">
                        {{ form_label(form.delivery) }}
                    </div>
                    <div class="pb-3">
                        {{ form_widget(form.delivery, {"attr": {'class':'form-control'}}) }}
                    </div>
                </div>
            </div>
        
            {#-------Moyen de payment-------#}
            <div class="col-12 col-lg-6">
                <h2>Paiement</h2>
                <div class="border p-3 rounded">
                    <p class="h4 pb-2">Choisissez votre moyen de paiement:</p>
                    <hr>
                    <div class="pb-3">
                        {{ form_label(form.payment) }}
                    </div>
                    <div class="pb-3">
                        {{ form_widget(form.payment, {"attr": {'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            {#-------Validation-------#}
            {#-Modal-#}
            <div class="d-flex justify-content-between">
                <a class="menu p-2" href="{{ path('cart') }}"><i class="bi bi-arrow-left-circle-fill fs-5 me-2"></i>Retour au panier</a>
                <a class="menu p-2" href="{{ path('cancel_order') }}"><i class="bi bi-x-circle fs-5 me-2"></i>Abandonner la commande</a>
                <a class="menu p-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Valider et payer<i class="bi bi-arrow-right-circle-fill fs-5 ps-3"></i>
                </a>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="">
                        <h5 class="modal-title h2 text-center mt-5 mb-3" id="exampleModalLabel">Ceci est la dernière étape.</h5>
                    </div>
                    <div class="modal-body text-center">
                        <p class="h2"></p>
                        <p class="mb-5">Êtes-vous sûr de vouloir valider et payer ?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <a class="lienRecu" type="button" data-bs-dismiss="modal">Non je ne suis pas sur.</a>
                        {{ form_row(form.valider, {"label": "Valider et payer.", "attr": {'class':'lienRecu'}}) }}
                    </div>
                    </div>
                </div>
            </div>
            {#-fin Modal-#}
        </div>
    </section>
{{ form_end(form) }}
{% endblock %}
