{% extends 'base.html.twig' %}

{% block body %}

<section class="container my-5">

    <h2>Voici votre reçu</h2>
    
    <div class="d-flex mt-5">
        <p class="h5"><span>Vouler vous:</span></p>
        <a class="lienRecu mx-5" href="">Imprimer</a>
        <a class="lienRecu" href="">Télécharger</a>
    </div>
    
    <div class="border border-dark m-5 p-5">
        <div>
            <div>
                <img class="w-25" src="{{ asset('img/logo/logo-chatChien_3.jpg') }}" alt="Logo entreprise">
                <p class="mt-2">La Nîme'alerie</p>
                <p><span>30000</span> <span>Nîmes</span></p>
                <p>Rue machin bidule chouette</p>
            </div>
        </div>
        <div class="row border border-dark p-5">
            <div class="col-6">
                <p class="h2 recuFacturation text-danger">Facturation</p>
                <div class="border border-danger p-1">
                    <p>{{ app.user.lastName }} {{ app.user.firstName }}</p>
                    <p>{{ app.user.address }}</p>
                    <p><span>{{ app.user.postalCode }}</span> <span>{{ app.user.city }}</span></p>
                </div>
            </div>
            <div class="col-6">
                <p class="h2 recuLivraison text-danger">Livraison</p>
                <div class="border border-danger p-1">
                    <p>{{ app.user.lastName }} {{ app.user.firstName }}</p>
                    <p>{{ app.user.address }}</p>
                    <p><span>{{ app.user.postalCode }}</span> <span>{{ app.user.city }}</span></p>
                </div>
            </div>
                <div class="row col-6 p-5 ms-2">
                    <div class="col-6">
                        <p class="bg-light p-2">Adress e-mail</p>
                        <p class="bg-light p-2">Numéro de commande</p>
                    </div>
                    <div class="col-6">
                        <p class="p-2">{{ app.user.email }}</p>
                        <p class="p-2">{{ orders.id }}</p>
                    </div>
                </div>
                <div class="row col-6 p-5 ms-2">
                    <div class="col">
                        <p class="bg-light p-2">ID client</p>
                        <p class="bg-light p-2">Date de commande</p>
                    </div>
                    <div class="col-6">
                        <p class="p-2">{{ app.user.id }}</p>
                        <p class="p-2">{{ orders.date ? orders.date|date('d/m/Y') : '' }}</p>
                    </div>
                </div>
            <div>
                <p class="h2 text-danger">Votre commande</p>
                <div>
                    <table class="table mt-2 border">
                        <thead class="bg-light">
                            <tr>
                                <th>Réf.produit</th>
                                <th>Nom du produit</th>
                                <th>Quantité</th>
                                <th>Prix HT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders.orderProducts %}
                                <tr class="structure fw-bold">
                                    <td>{{ order.product.id }}</td>
                                    <td>{{ order.product.name }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.product.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="bg-light fw-bold">
                                <td colspan="3" class="text-end fs-4">Total :</td>
                                <td class="fs-4">{{ total }} €</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <a class="lien mb-5" href="/">Retour à la page d'accueil</a>

</section>



{% endblock %}