{% extends 'base.html.twig' %}

{% block title %}Récapitulatif panier{% endblock %}

{% block body %}

<section class="container my-5">
    <h2 class="mb-4">Récapitulatif panier</h2>
    <div class="row">
        <p class="h4">Livraison pour les articles suivant:</p>
        <div class="border p-3 rounded d-flex text-center justify-content-center">
            {% for item in items %}
                <div class="border text-center p-4 m-2 rounded">
                    <p>
                        <img class="rounded" src="{{ asset('upload/' ~ item.product.picture) }}" alt="{{ item.product.name }}" style="max-height:100px; width:auto">
                    </p>
                    <p>{{ item.product.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    {#-------Récapitilataif panier-------#}

    <div class="row mt-2 justify-content-between mt-4">
        <div class="col-12 col-md-5 border rounded p-3">
            <p class="h4">Récapitulatif panier</p>
            <hr>
            {% for item in items %}
                <div class="d-flex justify-content-between">
                    <p>{{ item.quantity }}</p>
                    <p>{{ item.product.name }}</p>
                    <p>{{ item.product.price * item.quantity }} €</p>
                </div>
            {% endfor %}
            <hr>
            
            <p>{{ nbItem }} article{% if nbItem > 1%}s{% endif %}</p>
            
            <hr>
            <div class="h4 text-end">
                <p>Montant total: {{ total }} €</p>
            </div>
        </div>

        
    </div>
    <div class="d-flex justify-content-between mt-5">
        <a href="{{ path('cart') }}" class="menu p-2"><i class="bi bi-arrow-left-circle-fill fs-5 me-2"></i>Retour au panier</a>
        <a href="{{ path('delivery_payment') }}" class="menu p-2">Livraison et paiement<i class="bi bi-arrow-right-circle-fill fs-5 ps-3"></i></a>
    </div>
</section>
{% endblock %}