{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

    <section class="container mt-3">
        <h1 class="mb-2">Utilisateurs</h1>
        <table class="table">
            <tbody class="structure">
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôle</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Date de naissance</th>
                    <td>{{ user.birthDate ? user.birthDate|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Civilité</th>
                    <td>{{ user.civility }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ user.country }}</td>
                </tr>
                <tr>
                    <th>Vile</th>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ user.postalCode }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th>Compte vérifier</th>
                    <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center mb-4 border-none">
            <a class="lien" href="{{ path('user_index') }}">Revenir à la liste</a>
            <a class="lien mx-3" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
